<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CV_Parser_using_NLP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CV_Parser_using_NLP.Properties.Settings>
            <setting name="CVFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CVFormSize" serializeAs="String">
                <value>1530, 955</value>
            </setting>
        </CV_Parser_using_NLP.Properties.Settings>
    </userSettings>
</configuration>